<!-- Head for all pages -->
<!-- Page Title -->
<title>NRA Funded</title>
<!-- Set character set -->
<meta charset="utf-8">
<!-- Set viewport -->
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- main.js -->
<script type ="text/javascript" src="/js/main.js"></script>
<!-- main.css -->
<link rel="stylesheet" href="/css/main.css">
<!-- Roboto Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">