<!-- Head for all pages -->
<!-- Page Title -->
<title>NRA Funded</title>
<!-- Set character set -->
<meta charset="utf-8">
<!-- Set viewport -->
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!-- main.js -->
<script type ="text/javascript" src="/js/main.js"></script>
<!-- main.css -->
<link rel="stylesheet" href="/css/main.css">
<!-- Roboto Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<!-- Google Icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
