<div id="header">
        <div id="headerLogo">
            <p id="headerLogoText">NRA FUNDED</p>
        </div>
        <div id="searchBar">
            <i class="material-icons w3-xxlarge"  id="searchBarIcon">search</i>
            <input id="searchBarInput"></input>
            <div id="geolocateMe">
            <i class="material-icons w3-xxlarge"  id="searchBarFindMe">home</i>
            <p>FIND ME</p>
            </div>
        </div>
</div>