<div id="individuals">
    <div id="individualsOptions">
    <h3>Options</h2>
    <input id="checkBoxSenators" type="checkbox" checked>
    <p>Senators</p>
    <input id="checkBoxReps" type="checkbox" checked>
    <p>House Representatives</p>
    </div>
    <div id="individualsHeader">
    <h3>NRA Funding Recieved by Officials</h3></div>
    <div id="individualsContent">
    </div>
</div>