<div id="individuals">
    <div id="individualsOptions">
    <h3>Options</h2>
    <input id="checkBox" type="checkbox">
    <p>Senators</p>
    <input id="checkBox" type="checkbox">
    <p>House Representatives</p>
    </div>
    <div id="individualsHeader">
    <h3>Funding Recieved by Individuals</h3></div>
    <div id="individualsContent">
            <div class="individualsIndividual">
                <p class="individualName">Benjamin Cardin</p>
                <p class="individualFundingRecieved">$10000</p>
                <div class="individualFundingGraph"><div> </div></div>
            </div>
            <div class="individualsIndividual">
                <p class="individualName">Benjamin Cardin</p>
                <p class="individualFundingRecieved">$10000</p>
                <div class="individualFundingGraph"><div> </div></div>
            </div>
            <div class="individualsIndividual">
                <p class="individualName">Benjamin Cardin</p>
                <p class="individualFundingRecieved">$10000</p>
                <div class="individualFundingGraph"><div> </div></div>
            </div>
    </div>
</div>