<!-- Index -->
<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <!-- Header including logo and search bar -->
    <% include partials/index/header.ejs %>

    <!-- Information about individual representatives -->

    <% include partials/index/individuals.ejs %>

    <!-- General information about current/searched location -->
    <% include partials/index/general.ejs %>

</body>
</html>