<!-- Index -->
<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body id="initialSearch">
    <div id="initialSearchTitle">
        <h1 id="initialSearchTitleTop">NRA</h1>
        <h1 id="initialSearchTitleBottom">FUND</h1>
    </div>
    <div id="initialSearchBar">
        <i class="material-icons w3-xxlarge"  id="initialSearchBarIcon">search</i>
        <input id="initialSearchBarInput"></input>
        <div id="initialSeachGeolocateMe">
            <i class="material-icons w3-xxlarge"  id="initialSearchBarFindMe">home</i>
            <p>FIND ME</p>
        </div>
    </div>

</body>
</html>