<!-- Index -->
<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body id="mainPage">
    <nav>
        <div class="logo">NRA Watcher</div>
        <a class="link" href="#about" id="aboutNav">About</a>
    </nav>
    <div id="parallaxOne">
        <div id="title">
            <h1 class="logo">NRA Watcher</h1>
            <p>Transparentizing NRA Lobbying.</p>
            <div id="searchButton">
            <h2 class="link" id="linkToSearch">Search</h2>
            </div>
        </div>
    </div>
    <div id="about">
        <div id="aboutPartOneSubtext">
        Every year the National Rifle Association spends millions of dollars lobbying members of Congress. In 2017 alone the NRA spent over $4.1 million lobbying gun rights. Although it is required by law for this information to be public, it is not usually presented in a easily accessible manner.
        <br><br>

        NRA Watcher is a platform that organizes available information about the NRA's influences on different political representatives. The objective of this platform is to act as a resource for users to make more conscious political decisions.</div>
    </div>
    <div id="parallaxTwo">
            <div id="aboutPartTwo">"Mass shootings are not inevitable. The majority of Americans support common sense gun reform. Though we feel angry, heartbroken, even helpless now, we have the power to elect people who will protect lives, not gun sellers’ profits. Remember these feelings in November, and VOTE." - Hillary Clinton (16 February 2018)</div>
    </div>
    <div id="sponsors">
        <img src="../images/mlhlogo.png"/>
        <img src="../images/firebaselogo.png"/>
        <img src="../images/googlelogo.jpg"/>
    </div>
</body>
</html>