<div id="generalStats">
    <p id="generalStatsLocation"><span id="generalStatsLocationCity"></p>
    <p id="generalStatsTotalFunding">Total NRA Funding: <span id="generalStatsTotalFundingFunding"></span></p>
    <p id="generalStatsTotalRepFunded">Total Representatives Funded by the NRA: <span id="generalStatsTotalRepFundedRepresentatives"></span></p>
    <p id="generalStatsHighestRepFunded">Highest NRA Funded Representative: <span id="generalStatsHighestRepFundedFund"></span></p>
</div>